<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.labproject">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabProject">
        <activity
            android:name=".quizResult"
            android:exported="true" />
        <activity
            android:name=".memo"
            android:exported="true"
            android:parentActivityName=".item" />
        <activity
            android:name=".quiz"
            android:exported="true"
            android:parentActivityName=".item" />
        <activity
            android:name=".converter"
            android:exported="true"
            android:parentActivityName=".item" />
        <activity
            android:name=".bmi"
            android:exported="true"
            android:parentActivityName=".item" />
        <activity
            android:name=".calculator"
            android:exported="true"
            android:parentActivityName=".item" />
        <activity
            android:name=".item"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>